<!DOCTYPE html>
<html lang="en">

<head>
  <title>Leaderboards</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />


  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
  crossorigin="anonymous"
  />

  <!-- App JS -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>

</head>

<body>
  <%- include('partials/_header') %>

  <div class="leaderboards-header">
  <h1>QuizApp Leaderboards</h1>
  </div>

  <div class="leaderboards-container">

    <h3>Top 5 Most Popular Quizzes</h3>
    <% mostPopular.forEach((item, index) => { %>
        <h2><%= item.quizTitle %></h2>
            <li><%= item.title %> - <%= item.count %></li>
    <% }) %>


    <h3>Top 5 Most Difficult Quizzes</h3>
    <% mostDifficult.forEach((item, index) => { %>
        <h2><%= item.quizTitle %></h2>
            <li><%= item.title %></li>
    <% }) %>



    <h3>Top 5 Most Active Quiz Users</h3>
    <% mostTaken.forEach((item, index) => { %>
        <h2><%= item.quizTitle %></h2>
            <li><%= item.name %> - <%= item.count %></li>
    <% }) %>


    <h3>Top 5 Most Active Quiz Creators</h3>
    <% mostCreated.forEach((item, index) => { %>
        <h2><%= item.quizTitle %></h2>
            <li><%= item.name %> - <%= item.count %></li>
    <% }) %>

  </div>

</body>



</html>
