<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quiz History</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css">
  <link rel="stylesheet" href="/vendor/border-box.css">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/quizhistory.css" />
  <link rel="stylesheet" href="/styles/leaderboards.css" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">

  <!-- App JS -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>


</head>

<body>
  <!-- Header -->
  <%- include('partials/_header') %>

  <div class="leaderboards-header">
    <h1>Your Quiz Attempts: <%= totalAttempts %></h1>
  </div>

  <div class="leaderboards-container">


      <div class="container">
        <div class="row">
          <% results.forEach(result => { %>
          <div class="col-lg-4">
            <div class="leaderboards-entry">
              <div class="card-body">
                <h5 class="entry-header">
                  <a href="../result/<%= result.id %>"><%= result.title %></a>
                </h5>
                <p class="card-text">
                  Result: <%= result.quiz_result %> / <%= result.total_questions %>
                </p>
                <p class="card-text">
                  Score: <%= result.avg_percentage %>%
                </p>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
      </div>


  </div>

</body>

</html>
