<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quiz Results</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
  crossorigin="anonymous"
  />

  <!-- App JS -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>

  <h1>Quiz Result</h1>


  <h2><%= quizTitle %></h2>


  <% quizzes.forEach((quiz, index) => { %>
    <h3>Question <%= index + 1 %></h3>
    <p><%= quiz.question %></p>
    <p>Correct Answer: <%= quiz.answer %></p>

    <% if (answers !== null && answers !== undefined) { %>
      <p>Your Answer: <%= answers[index] %></p>

      <% if (answers[index] === quiz.answer) { %>
        <p>Result: Correct</p>
      <% } else { %>
        <p>Result: Incorrect</p>
      <% } %>

    <% } else { %>
      <P>Your Answer: </P>
      <p>Result: Incorrect</p>
    <% } %>

  <% }); %>

  <h1>Score: <%= quizResult %>/<%= quizzes.length %></h1>

</body>

</html>
