<!DOCTYPE html>
<html lang="en">

<head>
  <title>Results</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/results.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
  crossorigin="anonymous"
  />

  <!-- App JS -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>

  <div class="quiz-container">

    <div class="quiz-header">
      <h1>🥔 Results</h1>
      </div>

    <h2><%= quizTitle %></h2>
      <div class = "result-box">
          <% quizzes.forEach((quiz, index) => { %>
            <div class="question-box">
              <div class="question-header">
                <h3>Question #<%= index + 1 %></h3>
              </div>
            <div class="question">
            <p><%= quiz.question %></p>
            </div>

            <% if (answers !== null && answers !== undefined) { %>

              <% if (answers[index] === quiz.answer) { %>
                <div class="correct-answer-box">
                  <span class="answer-box-placeholder"></span>
                  <span class="answer-box-answer"><%= answers[index] %></span>
                   <i class="fa-solid fa-check"></i>
                </div>

              <% } else { %>
                <div class="incorrect-answer-box">
                  <span class="answer-box-placeholder"></span>
                  <span class="answer-box-answer"><%= answers[index] %></span>
                  <i class="fa-solid fa-x"></i>
                </div>
                <div class="correct-answer-box">
                  <span class="answer-box-answer"><%= quiz.answer %></span>
              </div>
              <% } %>


            <% } %>

            </div>
          <% }); %>

        <div class="result-display">
          <h3>Result</h3>
          <span class="result-score"><%= quizResult %> / <%= quizzes.length %></span>

          <div class="result-share">
            Share your results @
            <a href="<%= `${req.protocol}://${req.get('host')}/result/${req.params.quizResultId}` %>">
              <%=`${req.protocol}://${req.get('host')}/result/${req.params.quizResultId}`%>
            </a>
          </div>
        </div>



      </div>
</div>
</body>

</html>
